@model List<Product>

@{
    ViewBag.Title = "Product Manager";
    var msg = TempData["Message"]?.ToString();
    var needsToShow = msg == null || msg == "" ? false : true;
    bool deleted = false;
    if (needsToShow)
    {
        deleted = msg.Contains("Delete");
    }
    TempData["Message"] = "";
}
<div class="text-center">

    @if (needsToShow)
    {
        <h2 class="bg-info @(deleted ? "bg-danger": "")">@msg</h2>
    }

    <h1 style="background-color: #f7d6bf; font-size: 50px" class="jumbotron"><b>Product Manager</b></h1>
</div>

<table class="table table-boardered table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in @Model)
        {
            <tr>
                <td>@product.ProductCode</td>
                <td>@product.Name</td>
                <td>@product.YearlyPrice.ToString("C") </td>
                <td>@product.ReleaseDate</td>
                <td>
                    <a asp-controller="Products" asp-action="Edit"
                       asp-route-id="@product.ProductID">Edit</a>
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Delete"
                       asp-route-id="@product.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<a asp-controller="Products" asp-action="Add" class="btn btn-primary">Add Product</a>